Repository Projeto-Ciclo-2/RaceGame, pull requests merged in 2024-11, with the labels that each got.

#8 feat: OAuth Implementation
  backend/src/index.ts
  backend/src/middlewares/AuthMiddlewares.ts
  backend/src/routes/freeRoutes.ts
  backend/src/routes/router.ts
  backend/src/services/GoogleAuthService.ts
Labels: enhancement, Backend

#13 feat: leaderboard page with mock data
  frontend/public/car2.svg
  frontend/public/index.html
  frontend/src/components/icons/home.tsx
  frontend/src/components/icons/raceFlags.tsx
  frontend/src/components/icons/rankingOrder.tsx
  frontend/src/components/icons/trophy.tsx
  frontend/src/components/other/userRanking.tsx
  frontend/src/components/svg/car2.tsx
  frontend/src/pages/leaderboard/leaderboard.css
  frontend/src/pages/leaderboard/leaderboard.tsx
  frontend/src/routes.tsx
Labels: enhancement, Frontend

#14 Feat/canvas core
  frontend/src/pages/game/Game.tsx
  frontend/src/pages/game/assets/blue-car.svg
  frontend/src/pages/game/controller/carController.ts
  frontend/src/pages/game/controller/mapController.ts
  frontend/src/pages/game/debug/gameDebug.ts
  frontend/src/pages/game/gameController.ts
  frontend/src/pages/game/interfaces/gameInterfaces.ts
  frontend/src/pages/game/tools/collisionDetect.ts
Labels: bug, enhancement, Frontend

#15 Feat/lobby
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.css
  frontend/src/assets/icons/Helmet.tsx
  frontend/src/assets/imgs/bkg-home.webp
  frontend/src/components/InputEmoji/InputEmoji.tsx
  frontend/src/components/buttonLobby/ButtonLobby.css
  frontend/src/components/buttonLobby/ButtonLobby.tsx
  frontend/src/components/speed-dial/SpeedDial.css
  frontend/src/components/speed-dial/SpeedDial.tsx
  frontend/src/pages/homepage/Homepage.css
  frontend/src/pages/homepage/Homepage.tsx
  frontend/src/pages/lobby/Lobby.css
  frontend/src/pages/lobby/Lobby.tsx
  frontend/src/routes.tsx
Labels: Frontend

#11 Feat/homepage
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.css
  frontend/src/assets/icons/Helmet.tsx
  frontend/src/assets/imgs/bkg-home.png
  frontend/src/components/speed-dial/SpeedDial.css
  frontend/src/components/speed-dial/SpeedDial.tsx
  frontend/src/pages/homepage/Homepage.css
  frontend/src/pages/homepage/Homepage.tsx
  frontend/src/routes.tsx
Labels: Frontend

#17 Upd/ws messages
  backend/src/index.ts
  backend/src/interfaces/IRoom.ts
  backend/src/interfaces/IWSMessages.ts
  backend/src/websocket/websocket.ts
Labels: Backend, Update

#12 Feat/backend oauth implementation v2.0
  backend/knex/migrations/20241010194136_create_users_table.ts
  backend/src/config/index.ts
  backend/src/controllers/authController.ts
  backend/src/index.ts
  backend/src/interfaces/IUser.ts
  backend/src/middlewares/AuthMiddlewares.ts
  backend/src/repositories/userRepository.ts
  backend/src/routes/authRoutes.ts
  backend/src/routes/freeRoutes.ts
  backend/src/routes/router.ts
  backend/src/services/AuthService.ts
  backend/src/services/GoogleAuthService.ts
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.tsx
  frontend/src/pages/login.tsx
  frontend/src/routes.tsx
Labels: enhancement, Backend

#18 feat: websocket framework
  backend/src/interfaces/IWSMessages.ts
  backend/src/websocket/websocket.ts
Labels: enhancement, Backend

#19 feat: create roomRepository class
  backend/package-lock.json
  backend/package.json
  backend/src/repositories/roomRepository.ts
Labels: enhancement, Backend

#23 Feat/canvas enhancement
  frontend/src/App.css
  frontend/src/pages/game/Game.tsx
  frontend/src/pages/game/assets/carBlue.svg
  frontend/src/pages/game/assets/carGreen.svg
  frontend/src/pages/game/assets/carYellow.svg
  frontend/src/pages/game/controller/carController.ts
  frontend/src/pages/game/controller/mapController.ts
  frontend/src/pages/game/debug/gameDebug.ts
  frontend/src/pages/game/gameController.ts
  frontend/src/pages/game/interfaces/gameInterfaces.ts
  frontend/src/pages/game/tools/collisionDetect.ts
  frontend/src/pages/game/tools/imgLoader.ts
Labels: bug, enhancement, Frontend, Update

#26 Feat/websocket lobby
  backend/src/interfaces/IWSMessages.ts
  backend/src/services/lobbyService.ts
  backend/src/websocket/websocket.ts
Labels: enhancement, Backend

#27 Feat/loading
  frontend/src/components/buttonLobby/ButtonLobby.css
  frontend/src/components/buttonLobby/ButtonLobby.tsx
  frontend/src/components/other/login.tsx
  frontend/src/components/speed-dial/SpeedDial.tsx
  frontend/src/components/svg/animation.tsx
  frontend/src/pages/homepage/Homepage.tsx
  frontend/src/pages/landingpage/landingpage.css
  frontend/src/pages/landingpage/landingpage.tsx
  frontend/src/pages/loading/loading.css
  frontend/src/pages/loading/loading.tsx
  frontend/src/pages/lobby/Lobby.css
  frontend/src/pages/lobby/Lobby.tsx
  frontend/src/routes.tsx
Labels: enhancement, Frontend

#31 Fix/merge issues
  backend/src/services/lobbyService.ts
Labels: bug, Backend

#32 Feat/end game
  backend/src/game/controller/carController.ts
  backend/src/game/controller/mapController.ts
  backend/src/game/game.ts
  backend/src/game/service/gameService.ts
  frontend/src/pages/game/controller/carController.ts
  frontend/src/pages/game/gameController.ts
Labels: enhancement, Backend

#35 Feat/backend timeout
  backend/src/game/game.ts
  backend/src/game/mock/playerControllable.ts
  backend/src/game/mock/players.ts
  backend/src/game/service/gameService.ts
  backend/src/interfaces/IRoom.ts
  frontend/src/interfaces/IRoom.ts
  frontend/src/pages/game/interfaces/gameInterfaces.ts
  frontend/src/pages/game/websocket/websocketHandler.ts
Labels: enhancement, Backend

#34 Feat/initial websocket integration
  .gitignore
  backend/Dockerfile
  backend/src/controllers/authController.ts
  backend/src/game/controller/carController.ts
  backend/src/game/game.ts
  backend/src/game/mock/players.ts
  backend/src/interfaces/IRoom.ts
  backend/src/interfaces/IWSMessages.ts
  backend/src/repositories/roomRepository.ts
  backend/src/services/lobbyService.ts
  backend/src/services/roomService.ts
  backend/src/services/userService.ts
  backend/src/websocket/websocket.ts
  frontend/src/components/InputEmoji/InputEmoji.tsx
  frontend/src/components/other/login.tsx
  frontend/src/components/roomList/RoomList.css
  frontend/src/components/roomList/RoomList.tsx
  frontend/src/config/config.ts
  frontend/src/context/RoomContext.tsx
  frontend/src/context/UserContext.tsx
  frontend/src/context/WebSocketContext.tsx
  frontend/src/interfaces/IRoom.ts
  frontend/src/interfaces/IWSMessages.ts
  frontend/src/pages/game/mock/players.ts
  frontend/src/pages/homepage/Homepage.css
  frontend/src/pages/homepage/Homepage.tsx
  frontend/src/pages/loading/loading.tsx
  frontend/src/pages/lobby/Lobby.css
  frontend/src/pages/lobby/Lobby.tsx
  frontend/src/routes.tsx
Labels: enhancement, Frontend, Backend

#36 feat: leaderboard complete with backend connection
  frontend/src/components/other/userRanking.tsx
  frontend/src/pages/leaderboard/leaderboard.tsx
Labels: enhancement, Frontend

#39 feat: new lobby design and image size correction
  frontend/src/pages/lobby/Lobby.css
  frontend/src/pages/lobby/Lobby.tsx
Labels: Frontend

#40 Feat/lobby minimum players
  frontend/src/context/RoomContext.tsx
  frontend/src/pages/lobby/Lobby.tsx
Labels: Frontend

#42 Feat/game status on front & end game screen
  backend/src/controllers/authController.ts
  backend/src/game/controller/carController.ts
  backend/src/game/controller/mapController.ts
  backend/src/game/game.ts
  backend/src/middlewares/AuthMiddlewares.ts
  backend/src/repositories/userRepository.ts
  frontend/src/App.css
  frontend/src/components/other/login.tsx
  frontend/src/components/roomList/RoomList.css
  frontend/src/components/roomList/RoomList.tsx
  frontend/src/interfaces/IWSMessages.d.ts
  frontend/src/pages/end/EndScreen.tsx
  frontend/src/pages/end/endScreen.css
  frontend/src/pages/game/Game.tsx
  frontend/src/pages/game/controller/carController.ts
  frontend/src/pages/game/game.css
  frontend/src/pages/game/gameController.ts
  frontend/src/pages/game/status/GameStatus.tsx
  frontend/src/pages/game/status/gameStatus.css
  frontend/src/pages/game/tools/endScreen.ts
  frontend/src/pages/game/tools/playerInterpolater.ts
  frontend/src/pages/game/tools/sortPlayers.ts
  frontend/src/pages/game/websocket/websocketHandler.ts
Labels: enhancement, Backend

#44 Minor fixes
  backend/src/game/controller/carController.ts
  backend/src/game/game.ts
  backend/src/game/mock/playerControllable.ts
  backend/src/game/mock/players.ts
  backend/src/game/service/gameService.ts
  backend/src/interfaces/IRoom.ts
  backend/src/repositories/roomRepository.ts
  backend/src/websocket/websocket.ts
  frontend/src/components/modal/Confirmation.tsx
  frontend/src/components/modal/confirmation.css
  frontend/src/components/roomList/RoomList.tsx
  frontend/src/components/speed-dial/SpeedDial.tsx
  frontend/src/context/RoomContext.tsx
  frontend/src/pages/end/EndScreen.tsx
  frontend/src/pages/end/calcPercentage.ts
  frontend/src/pages/homepage/Homepage.tsx
  frontend/src/pages/lobby/Lobby.tsx
Labels: bug, enhancement, Frontend, Backend, Update

#45 feat: better control for player
  backend/src/game/controller/carController.ts
  backend/src/game/controller/mapController.ts
  backend/src/game/mock/playerControllable.ts
  backend/src/game/mock/players.ts
  backend/src/game/service/gameService.ts
  backend/src/game/tools/changeDetector.ts
  backend/src/interfaces/IRoom.ts
  backend/src/repositories/roomRepository.ts
  frontend/src/config/config.ts
  frontend/src/interfaces/IRoom.ts
  frontend/src/pages/end/calcPercentage.ts
  frontend/src/pages/game/controller/carController.ts
  frontend/src/pages/game/controller/mapController.ts
  frontend/src/pages/game/gameController.ts
  frontend/src/pages/game/interfaces/gameInterfaces.ts
  frontend/src/pages/game/math/angleConversion.ts
  frontend/src/pages/game/math/angleDiff.ts
  frontend/src/pages/game/math/naturalToGameAngle.ts
  frontend/src/pages/game/tools/clientPrediction.ts
  frontend/src/pages/game/tools/playerConverter.ts
  frontend/src/pages/game/websocket/websocketHandler.ts
Labels: enhancement, Frontend, Backend

#47 Feat/more cars
  frontend/public/assets/svg/carAmethyst.svg
  frontend/public/assets/svg/carBlackRed.svg
  frontend/public/assets/svg/carCyan.svg
  frontend/public/assets/svg/carJade.svg
  frontend/public/assets/svg/carOrange.svg
  frontend/public/assets/svg/carOrange2.svg
  frontend/public/assets/svg/carPink.svg
  frontend/public/assets/svg/carPolice.svg
  frontend/public/assets/svg/carPurple.svg
  frontend/public/assets/svg/carTaxi.svg
  frontend/public/assets/svg/carUsualBlue.svg
  frontend/public/assets/svg/carUsualRed.svg
  frontend/public/assets/svg/carUsualWhite.svg
  frontend/public/assets/svg/carWhite.svg
  frontend/src/assets/enum/enumSrc.ts
  frontend/src/pages/game/gameController.ts
  frontend/src/pages/garage/myGarage.tsx
Labels: enhancement, Frontend

#48 hotfix: remove use of heavy image
  frontend/src/pages/game/gameController.ts
Labels: bug, Frontend

#49 Front end canvas enhancements
  backend/src/game/controller/carController.ts
  backend/src/game/tools/collisionDetect.ts
  frontend/public/assets/svg/barrel.svg
  frontend/public/assets/svg/nitro_min.svg
  frontend/public/assets/svg/tree_log.svg
  frontend/src/assets/enum/enumSrc.ts
  frontend/src/pages/game/controller/carController.ts
  frontend/src/pages/game/controller/mapController.ts
  frontend/src/pages/game/debug/gameDebug.ts
  frontend/src/pages/game/gameController.ts
  frontend/src/pages/game/interfaces/gameInterfaces.ts
  frontend/src/pages/game/math/randomNumber.ts
  frontend/src/pages/game/tools/collisionDetect.ts
  frontend/src/pages/game/tools/playerConverter.ts
  frontend/src/pages/game/tools/playerInterpolater.ts
  frontend/src/pages/game/websocket/websocketHandler.ts
Labels: bug, enhancement, Frontend, Update

#53 Feat/new layout end game
  frontend/public/assets/imgs/bkg-end-game.svg
  frontend/public/assets/imgs/img-lost-rac.webp
  frontend/public/assets/imgs/img-winner-rac.webp
  frontend/src/pages/end/EndScreen.tsx
  frontend/src/pages/end/endScreen.css
Labels: Frontend

#54 Feat/better websocket
  backend/knex/migrations/20241115232741_create_cars_table.ts
  backend/src/game/game.ts
  backend/src/game/mock/playerControllable.ts
  backend/src/game/mock/players.ts
  backend/src/game/service/gameService.ts
  backend/src/interfaces/IRoom.ts
  backend/src/interfaces/IWSMessages.ts
  backend/src/middlewares/AuthMiddlewares.ts
  backend/src/repositories/roomRepository.ts
  backend/src/services/carService.ts
  backend/src/services/lobbyService.ts
  backend/src/services/roomService.ts
  backend/src/websocket/websocket.ts
  frontend/public/assets/svg/musicDisabled.svg
  frontend/src/assets/enum/enumSrc.ts
  frontend/src/components/icons/musicDisabled.tsx
  frontend/src/components/icons/musicIcon.tsx
  frontend/src/config/config.ts
  frontend/src/context/WebSocketContext.tsx
  frontend/src/interfaces/IAssets.ts
  frontend/src/interfaces/IRoom.ts
  frontend/src/interfaces/IWSMessages.d.ts
  frontend/src/pages/end/EndScreen.tsx
  frontend/src/pages/game/Game.tsx
  frontend/src/pages/game/game.css
  frontend/src/pages/game/gameController.ts
  frontend/src/pages/game/interfaces/gameInterfaces.ts
  frontend/src/pages/game/status/GameStatus.tsx
  frontend/src/pages/game/tools/clientPrediction.ts
  frontend/src/pages/game/tools/imgHandler.ts
  frontend/src/pages/game/tools/playerConverter.ts
  frontend/src/pages/game/tools/playerInterpolater.ts
  frontend/src/pages/game/tools/sortPlayers.ts
  frontend/src/pages/game/websocket/websocketHandler.ts
  frontend/src/pages/garage/myGarage.tsx
  frontend/src/pages/lobby/Lobby.css
  frontend/src/pages/lobby/Lobby.tsx
  frontend/src/sound/soundController.ts
  frontend/src/sound/waitingController.ts
Labels: bug, enhancement, Frontend, Backend, Update
